body{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
    font-weight: 400;
}
a{
    text-decoration: none;
    color: black;
}

    /* Header */

header{
    display: flex;
    width: 100%;
    height: 144px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
}

.logo{
    margin: 40px 451px 40px 71px;
    height: 65px;
    width: 65px;
}
nav ul{
    display: flex;
    align-items: center;
    margin: 42.6px 0px;
    padding: 0;
    list-style-type: none;
}
nav ul li a:nth-child(4){
    color: black;
    text-decoration: none;
    font-size: 18px;
    background-color: #7AE5FD;
    border-radius: 87px;
    padding: 21px 35px;
}
nav ul li:nth-child(2){
    margin: 0px 56px;
}
nav ul li:nth-child(4){
    margin-left: 24px;
    background-color: #7AE5FD;
    padding: 21px 35px;
    border-radius: 87px;
}

    /* First Section */

.first-screen{
    width: 100%;
    padding: 202.31px 0px 202.69px 105px;
    margin-top: 142px;
    background-image: url("../images/first-screen-background.png");
    background-size: cover;
    box-sizing: border-box;
}
.first-screen h2{
    margin: 0;
    height: 248px;
    font-size: 65px;
    font-weight: 800;
    line-height: 61.69px;
    color: white;
    letter-spacing: -1.3px;
}
.first-screen p{
    font-size: 20px;
    width: 484px;
    margin-bottom: 40px;
}
.first-screen a{
    background-color: white;
    border-radius: 87px;
    padding: 21px 35px;
}
.first-screen div{
    width: 686.31px;
}

    /* Second Section */

.second-screen{
    margin: 160px 0px;
    text-align: center;
}
.second-screen h2{
    height: 144px;
    margin: auto;
    font-weight: 400;
    font-size: 60px;
    width: 1004px;
}
.second-screen h3{
    height: 32px;
    margin: 15px 0px 10px 0px;
    font-weight: 400;
    font-size: 27px;
}
.second-screen p{
    margin: 0px;
    font-size: 20px;
    color: #73A6B1;
}

    /* Third Section */

.third-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-screen .info-block{
    background-color: #F1FDFF;
    padding: 40px 62px;
    box-sizing: border-box;
    margin: 0px;
    display: flex;
}
.info-block div{
    margin: 51px 62px  51px 0px;
    width: 527px;
}
.info-block div h2{
    margin: 0;
    font-size: 46px;
    font-weight: 400;
    line-height: 55.2px;
}
.info-block div h3{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}
.info-block div p{
    margin: 0;
    font-size: 20px;
}
.info-block img{
    border-radius: 10px;
}
.info-button a{ 
    font-size: 18px;
    padding: 21px 35px;
    background-color: #7AE5FD;
    border-radius: 87px;
}
.third-screen .info-block:nth-child(2){
    margin: 50px 0px;
}
.third-screen .info-block:nth-child(3){
    margin: 50px 0px 71px 0px;
}

    /* Fourth Section */

.fourth-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 380px;
    box-sizing: border-box;
    margin-bottom: 140px;
}
.fourth-screen div{
    background-color: #F1FDFF;
}
.fourth-screen p{
    width: 558px;
    font-size: 27.27px;
    line-height: 32.73px;
    margin: 90px 647px 90px 62px;
    padding: 0px;
}
.fourth-screen img:nth-child(2){
    z-index: 1;
    position: absolute;
    margin-left: 805px;
    margin-bottom: 253px;
}
.fourth-screen img:nth-child(3){
    position: absolute;
    margin-left: 682px;
    margin-bottom: 197px;
}

    /* Fifth Section */

.fifth-screen{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.fifth-screen h2{
    font-weight: 400;
    font-size: 60px;
    letter-spacing: -1.3px;
    margin: 0px;
}
.fifth-screen h4{
    font-weight: 400;
    font-size: 20px;
    color: #73A6B1;
    width: 739px;
    text-align: center;
    margin: 15px 0px 50px 0px;
}
.fifth-screen h3{
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
    margin: 0px;
}
.fifth-screen p{
    font-size: 60px;
    margin: 17px 0px 50px 0px;
}
.fifth-wrapper{
    border-left: solid 2px #9AD2DE;
    border-right: solid 2px #9AD2DE;
    padding: 0px 13px;
}
.fifth-screen a{
    font-size: 18px;
    padding: 21px 35px;
    background-color: #7AE5FD;
    border: none;
    border-radius: 87px;
}

    /* Sixth Section */

.sixth-screen{
    margin-top: 160px;
    padding: 50px 71px 160px 71px;
    background-color: #F9FADF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sixth-screen .contacts{
    display: flex;
}
.sixth-screen .contacts h2{
    font-weight: 400;
    font-size: 60px;
    margin: 0px 226.25px 159px 133.25px;
}
.sixth-screen .contacts div img:nth-child(1){
    margin-bottom: 9px;
}
.sixth-screen .contacts div img:nth-child(3){
    margin: 57px 0px 5px 0px;
}
.sixth-screen .contacts div img:nth-child(4){
    margin-bottom: 5px;
}
.sixth-screen .contacts h6{
    font-weight: 400;
    width: 440px;
    font-size: 20px;
    margin: 0px;
}
.number-wrapper{
    font-weight: 700;
}

.sixth-screen .email{
    margin: 50px 71px 0px 71px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sixth-screen .email div{
    display: flex;
    flex-direction: column;
}
.sixth-screen .email img{
    margin: 82.5px 93px 82.5px 61px;
}
.sixth-screen .email div h2{
    margin-top: 60px;
    width: 476.67px;
    font-weight: 400;
    font-size: 27px;
    line-height: 32.4px;
}
.sixth-screen .email div input{
    width: 541.5px;
    height: 66px;
    border-radius: 61px;
    border: none;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    background-color: #F9FADF;
    padding-left: 43px;
}
.sixth-screen .email div input:nth-child(3){
    margin: 31px 0px;
}
.sixth-screen .email div input::placeholder{
    margin: 21px 400px 21px 43px;
    color: black;
}
.sixth-screen .email div a{
    text-align: center;
    font-size: 18px;
    background-color: #7AE5FD;
    border: none;
    border-radius: 87px;
    padding: 21px 35px;
}